.AddCommentHint {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 5px 0 5px 10px;
    font-size: 13px;
    font-weight: 400;
}

.AddComment{
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 3px;
}